body {
    font-family: 'Open Sans';
    font-size: 15px;
    color: #333;
    line-height: 1.6;
    margin: 0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;

    border: 0;
    background-color: #e5e5e5;
}


/*Container*/
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.first_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../images/background1.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0;
}

.page_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.page_title {
    font-size: 65px;
    font-weight: 700;
    font-family: 'Open Sans'bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    color: #fff;
    margin-top: 200px;
}

.page_subtitle {
    font-size: 22px;
    font-family: 'Raleway';
    font-style: italic;
    color: #fff;
    margin-top: 40px;
}


/*Header*/
.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}




.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 35px 0;
    border-bottom: 1px solid #505268;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
}


/*Navigation*/

.nav {
    font-size: 13px;
    font-family: 'Raleway';
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    position: relative;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.75;

    transition: opacity 0.1s linear;


}

.nav_link:hover {
    opacity: 1;
}

.nav_link:first-child {
    margin-left: 0;
}



/*Button*/

.btn {
    width: 200px;
    height: 50px;

    display: inline-block;
    vertical-align: top;
    border: 3px solid #e84545;
    padding: 12px 30px;
    color: #fff;
    background-color: #e84545;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Raleway';
}

.btn--first {
    margin-top: 80px;
}


/*Services*/

.services {
    display: flex;
    margin-top: 120px;
    margin-bottom: 100px;
    justify-content: space-between;
}

.services_item {
    flex: 1 1 0;
    padding-right: 25px;
    padding-left: 65px;
    position: relative;
}

.services_icon {
    position: relative;
    text-align: center;
    z-index: 1;
}

.services_title {
    margin-bottom: 10px;

    font-size: 14px;
    text-transform: uppercase;
    text-align: center;

    color: #333;
}

.services_text {
    font-size: 14px;
    color: #999;

    font-family: 'Raleway';
    font-weight: 100;

    text-align: center;
}



/*Works*/

.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 350px;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;

    position: relative;
    overflow: hidden;
}

.works__item:hover .works__content {
    opacity: 0.9;
}

.works__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    background-color: #d44140;
    opacity: 0;

    text-align: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    transition: opacity .2s linear;
}

.works__title {
    margin-bottom: 5px;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.works__text {
    font-size: 14px;
    color: #fff;
}



/*Team*/

.team {
    display: flex;
    margin-top: 120px;
    margin-bottom: 100px;
    justify-content: space-between;
}

.team_inner {
    position: relative;
    width: 25%;
    margin-top: 70px;

}

.team_img {
    position: relative;
    text-align: center;
    z-index: 1;
    margin-right: 30px;
}

.team_name {
    margin-bottom: 2px;

    font-size: 22px;
    font-family: 'Raleway';
    text-transform: uppercase;
    text-align: left;

    color: #333;
}

.team_prof {
    margin-bottom: 10px;

    font-size: 15px;
    font-family: 'Raleway';
    text-transform: uppercase;
    text-align: left;
    color: #e84545;
}

.team_text {
    font-size: 14px;
    font-family: 'Raleway';
    margin-right: 28px;
    text-align: left;
    color: #6c7279;

}

.team_social {
    padding-right: 20px;
    margin-top: 20px;
    color: #c6cacc;
}


/*Reviews*/

.reviews {
    overflow: hidden;
    background-color: #53354a;
}



.reviews_item {
    display: flex;
    flex-wrap: wrap;
}

.reviews_photo {
    width: 50%;
    height: 618px;
    ;
    position: relative;
}

.reviews_img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%)
}


.reviews_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}


.reviews_text {
    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
}


.reviews_author {
    margin-top: 30px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}


/*Call-to-action*/

.download {
    margin: 70px 0;
    text-align: center;
}

.download_title {
    font-size: 28px;
    font-weight: 100;
    font-family: 'Raleway';
    color: #333;
    margin-bottom: 20px;
}

.download_subtitle {
    font-size: 13px;
    font-weight: 700;
    font-family: 'Raleway';
    color: #333;
}

.btn--red {
    margin-top: 40px;
    width: 280px;
    height: 50px;
}


/*footer*/


.footer{
    padding: 70px 0;
    
    background-color: #3a3e64;
}

.footer_inner{
    display: flex;
    flex-wrap: wrap;
}

.footer_block{
    width: 33%;
    
    text-align: center;
}

.footer_title{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.footer_addres{
    font-size: 14px;
    line-height: 1.5;
    font-style: normal;
    color: rgba(255, 255, 255, .5);
}

.footer_social{
    color: #fff;
}

.footer_text{
    font-size: 14px;
    font-family: 'Raleway';
    color: rgba(255, 255, 255, .5);
}